@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
white {
    background-color: rgb(255,255,255);
}
.green {
    background-color: rgb(150,255,150);
}
.red {
    background-color: rgb(255,150,150);
}

#dropdown-list {
    display: none;
}

#dropdown-list2 {
    display: none;
}

#dropdown-list3 {
    display: none;
}

